*/moss/past-submissions/*
*/submissions/*
*/moss/submissions/*
/asn4/*
*/README/
*.xlsx
*.DS_Store


!*/moss/past-submissions/help.txt
!*/submissions/help.txt
!*/submissions/subgrader/
!/asn4/help.txt